<h1> This page show anything </h1>

<a href="/admin/categoria"><button class="btn btn-success"> Categoria </button></a>
<a href="/admin/postagens"><button class="btn btn-success"> Postagens </button></a>